<footer class="page__footer">
  <div class="footer__wrapper">
    <section class="footer">
      <div class="arrow">
        <a href="#home" title="Volver al inicio"
          ><img src="./assets/images/ico-arrow.svg" alt="Icono para deslizar"
        /></a>
      </div>
      <div class="footer__menu">
        <nav class="menu menu__list-1">
          <ul>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Articles</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" itle="Ir a Adalab" target="_blank"
                >Books</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Events</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Reasons</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Tips</a
              >
            </li>
          </ul>
        </nav>
        <nav class="menu menu__list-2">
          <ul class="list">
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Twitter</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Instagram</a
              >
            </li>
            <li>
              <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
                >Mastodon.social</a
              >
            </li>
          </ul>
        </nav>

        <div class="copy">
          <span> &copy;2017</span>
          <div>
            <span>We <span class="heart">❤︎</span> components</span>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer>
