<footer class="footer">
  <div class="footer-container">
    <nav class="menu menu-1">
      <ul class="list">
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Articles</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" itle="Ir a Adalab" target="_blank"
            >Books</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Events</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Reasons</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Tips</a
          >
        </li>
      </ul>
    </nav>

    <nav class="menu menu-2">
      <ul class="list">
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Twitter</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://adalab.es/" title="Ir a Adalab" target="_blank"
            >Mastodon.social</a
          >
        </li>
      </ul>
    </nav>

    <div class="copy">
      <span> &copy;2017</span>
      <div>
        <span>We <span class="heart">❤︎</span> components</span>
      </div>
    </div>
  </div>
</footer>
