// Fonts
$font-main: "Roboto", sans-serif;
$font-titles: "Roboto Slab", serif;

// colors
$primary-color: #f26002;
$secondary-color: #8ccbea;
$light-color: #ffffff;
$light-blue: #eff9ff;
$blue: #0271bc;
$dark-blue: #304268;
