.footer {
  background-color: $dark-blue;
  color: $light-color;
  min-height: 465px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  &__wrapper {
    width: 100%;
    margin: auto;
    max-width: 1200px;
  }
}

.arrow {
  position: absolute;
  z-index: 3;
  top: -25px;
  background-color: $light-color;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 22.5px;
  box-shadow: 0 2px 4px 0 $shadows;
}

.menu {
  line-height: 1.875rem;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.copy {
  font-size: 0.875rem;
  text-transform: lowercase;
  line-height: 1.875rem;

  .heart {
    color: $primary-color;
  }
}

@include tablet {
  .footer {
    min-height: 240px;
    &__menu {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border: 2px solid yellow;
      width: 100%;
    }
    text-align: center;
  }

  .menu {
    line-height: 1.875rem;
    text-transform: uppercase;
    margin-bottom: 30px;
    border: 2px solid red;
    $__list-1 {
      border: 2px solid pink;
    }
  }
  .copy {
    font-size: 0.875rem;
    text-transform: lowercase;
    line-height: 1.875rem;
    border: 2px solid red;

    .heart {
      color: $primary-color;
    }
  }
}
